<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel
    ="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
  <body>
    <div class="p-3 mb-2 bg-dark text-white mt m-lg-auto" style="width:100%; display: flex; flex-direction: row;">
            <div class="collapse navbar-collapse" style="display: flex; flex-direction: row; list-style: none;">
                <a href="https://www.facebook.com/notsokka/" target="_blank" title="It's me"><li style="margin-left: 30px; font-weight: 500;">LÊ VĂN HÀ</li></a>
                <a href="/books"><li style="margin-left: 30px; font-weight: 500;">HOME PAGE</li></a>
            </div>
                <div class="dropdown nav-item m-lg-auto">
                    <a class="dropdown-toggle " href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" style="margin-right: 100px;font-weight: 500;" >
                        <img src="https://media.tenor.co/images/a3ef12891434d1a97d124c7faf633904/tenor.gif?t=AAW7vqb-cRMKSkaVMgOkmw&itemid=4860090&fbclid=IwAR0CBwq8hgkfhvxqtddpUN-6NkV2zxHN9tz1hTIfpwSggIcjDmZJsX61RuE" class="user-avt">
                        LÊ VĂN HÀ
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="z-index: 112;">
                        <a class="dropdown-item" href="/books/create" style="color : black; font-weight: 500;">Đăng tải sách</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/books/me" style="color : black; font-weight: 500;">Kho sách</a>
                    </div>
                </div>
        </div>
    <div class="mt-4">
        <div class="row1">
          <img src="<%= book.thumb %>">
          <div class="column1">
            <h2 style="margin-bottom: 50px;"><%= book.name %> </h2>
            <h3 style="color : red; margin-bottom:50px ;"><%= book.price %> đ</h3>
            <p>Tác giả: <b><%= book.author %></b></p>
            <p>Nhà xuất bản: <b><%= book.producer %></b></p>
            <li>Mô tả: <%= book.descriptions %> </li>
          </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>
</html>